extends layout

block content
  div#content
    p
      strong Welcome to #{title}

block sidebar
  div#sidebar
    ul.nav
      li
        a link1
      li
        a link2

block header
  div#header.page-header
    h1= title
