doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
  body
    script(src='/javascripts/jquery-1.11.0.js')
    script(src='/bootstrap/js/bootstrap.js')
    div.container
      block header
    div.container
      div.row
        div.col-md-3
          block sidebar
        div.col-md-9
          block content
